{
  "semi": true,
  "trailingComma": "es5",
  "printWidth": 120,
  "tabWidth": 2,
  "useTabs": false,
  "bracketSpacing": true,
  "arrowParens": "always",
  "singleQuote": false,

  "proseWrap": "preserve",
  "quoteProps": "as-needed",

  "jsxBracketSameLine": false,
  "jsxSingleQuote": false,

  "overrides": [
    {
      "files": "*.json",
      "options": {
        "printWidth": 80
      }
    }
  ]
}
