body {
  width: 100%;
  overflow-x: hidden;
}

.background__grid {
  height: 100%;
  width: 100%;
  background-size: auto auto;
  background-color: #f6f6f9;
  /* background-image: repeating-linear-gradient(
      0deg,
      transparent,
      transparent 80px,
      rgba(234, 234, 234, 1) 81px,
      rgba(234, 234, 234, 1) 81px
    ),
    repeating-linear-gradient(
      90deg,
      transparent,
      transparent 80px,
      rgba(234, 234, 234, 1) 81px,
      rgba(234, 234, 234, 1) 80px
    ); */
}
.background__grid--blue {
  height: 100%;
  width: 100%;
  background-size: auto auto;
  background-color: white;
  background-image: repeating-linear-gradient(
      0deg,
      transparent,
      transparent 80px,
      rgb(69, 108, 235) 81px,
      rgb(69, 108, 235) 81px
    ),
    repeating-linear-gradient(90deg, transparent, transparent 80px, rgb(69, 108, 235) 81px, rgb(69, 108, 235) 80px);
}
.background__grid--black {
  height: 100%;
  width: 100%;
  background-size: auto auto;
  background-color: black;
  background-image: repeating-linear-gradient(
      0deg,
      transparent,
      transparent 80px,
      rgba(234, 234, 234, 1) 81px,
      rgba(234, 234, 234, 1) 81px
    ),
    repeating-linear-gradient(
      90deg,
      transparent,
      transparent 80px,
      rgba(234, 234, 234, 1) 81px,
      rgba(234, 234, 234, 1) 80px
    );
}

.chakra-form__required-indicator {
  color: black !important;
}

.jodit-ui-group_group_search,
.jodit-ui-group_group_history,
.jodit-ui-group_group_script,
.jodit-ui-group_group_list,
.jodit-ui-group_group_source {
  display: none;
}

.jodit-status-bar {
  display: none !important;
}
.jodit-toolbar__box:not(:empty) {
  background-color: transparent;
  border-bottom: none;
  border-radius: 3px 3px 0 0;
  overflow: hidden;
  top: -40px;
  margin-bottom: -40px;
  position: relative;
}

.jodit-container:not(.jodit_inline) {
  margin-top: 50px;
  font-size: 12px;
}

.chakra-form__error-message {
  font-size: 10px !important;
  text-align: right !important;
  justify-content: flex-end !important;
}

#cgv-label span {
  display: none;
}

.chakra-stack {
  padding: 0 !important;
}

.chakra-checkbox__label {
  padding-left: 2px;
  width: 100%;
}
.chakra-checkbox__control {
  width: 20px !important;
  height: 20px !important;
}
